<template>
  <q-page class="q-pa-lg" >
    <h3 class="q-mt-none">Help</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias minima accusamus illum laudantium earum quibusdam amet atque aperiam blanditiis impedit, sequi corporis perspiciatis pariatur ad officia dolorum praesentium! Quaerat, et!</p>
  </q-page>
</template>

<script>
export default {
  
}
</script>
