<template>
<div ref="xspreadsheet" id="xapp"></div>
</template>
<script>
import Spreadsheet from "x-data-spreadsheet";
export default {
  mounted() {
    // const s = new Spreadsheet('#xapp')
    const s = new Spreadsheet(this.$refs.xspreadsheet)
    .loadData({

  "name": "sheet1",
  "freeze": "A1",
  "styles": [
    {
      "bgcolor": "#ffff01"
    },
    {
      "bgcolor": "#00b04e"
    },
    {
      "bgcolor": "#00b04e",
      "font": {
        "bold": true
      }
    },
    {
      "bgcolor": "#00b04e",
      "font": {
        "bold": true
      },
      "color": "#ffffff"
    }
  ],
  "merges": [],
  "rows": {
    "1": {
      "cells": {
        "0": {
          "text": "Part Level",
          "style": 3
        },
        "1": {
          "text": "Part Name",
          "style": 3
        },
        "2": {
          "text": "Total",
          "style": 3
        }
      }
    },
    "2": {
      "cells": {
        "0": {
          "text": "1"
        },
        "1": {
          "text": "Engine"
        },
        "2": {
          "text": "22"
        }
      }
    },
    "3": {
      "cells": {
        "0": {
          "text": "2"
        },
        "1": {
          "text": "Engine1"
        },
        "2": {
          "text": "23"
        }
      }
    },
    "4": {
      "cells": {
        "0": {
          "text": "2"
        },
        "1": {
          "text": "Engine2"
        },
        "2": {
          "text": "34"
        }
      }
    },
    "5": {
      "cells": {
        "0": {
          "text": "3"
        },
        "1": {
          "text": "Engine2"
        },
        "2": {
          "text": "23"
        }
      }
    },
    "6": {
      "cells": {
        "0": {
          "text": "4"
        },
        "1": {
          "text": "Engine3"
        },
        "2": {
          "text": "24"
        }
      }
    },
    "7": {
      "cells": {
        "0": {
          "text": "5"
        },
        "1": {
          "text": "Engine4"
        },
        "2": {
          "text": "35"
        }
      }
    },
    "8": {
      "cells": {
        "0": {
          "text": "2"
        },
        "1": {
          "text": "Engine5"
        },
        "2": {
          "text": "26"
        }
      }
    },
    "9": {
      "cells": {
        "0": {
          "text": "3"
        },
        "1": {
          "text": "Engine6"
        },
        "2": {
          "text": "27"
        }
      }
    },
    "10": {
      "cells": {
        "0": {
          "text": "3"
        },
        "1": {
          "text": "Engine7"
        },
        "2": {
          "text": "38"
        }
      }
    },
    "11": {
      "cells": {
        "0": {
          "text": "4"
        },
        "1": {
          "text": "Engine8"
        },
        "2": {
          "text": "29"
        }
      }
    },
    "12": {
      "cells": {
        "0": {
          "text": "5"
        },
        "1": {
          "text": "Engine9"
        },
        "2": {
          "text": "30"
        }
      }
    },
    "13": {
      "cells": {
        "0": {
          "text": "6"
        },
        "1": {
          "text": "Engine10"
        },
        "2": {
          "text": "41"
        }
      }
    },
    "14": {
      "cells": {
        "0": {
          "text": "8"
        },
        "1": {
          "text": "Engine11"
        },
        "2": {
          "text": "32"
        }
      }
    },
    "15": {
      "cells": {
        "0": {
          "text": "9"
        },
        "1": {
          "text": "Engine12"
        },
        "2": {
          "text": "33"
        }
      }
    },
    "16": {
      "cells": {
        "0": {
          "text": "9"
        },
        "1": {
          "text": "Engine13"
        },
        "2": {
          "text": "44"
        }
      }
    },
    "17": {
      "cells": {
        "0": {
          "text": "10"
        },
        "1": {
          "text": "Engine14"
        },
        "2": {
          "text": "35"
        }
      }
    },
    "18": {
      "cells": {
        "0": {
          "text": "11"
        },
        "1": {
          "text": "Engine15"
        },
        "2": {
          "text": "36"
        }
      }
    },
    "19": {
      "cells": {
        "0": {
          "text": "12"
        },
        "1": {
          "text": "Engine16"
        },
        "2": {
          "text": "47"
        }
      }
    },
    "20": {
      "cells": {
        "1": {},
        "2": {
          "text": "=SUM(C3:C20)",
          "style": 0
        }
      }
    },
    "len": 99
  },
  "cols": {
    "len": 26
  },
  "validations": [],
  "autofilter": {}


    }) // load data
    .change(data => {
      // save data to db
      debugger;

    });
  }
}
</script>