<template>
  <q-page class="bg-grey-3 column">
    <div class="row q-pa-sm bg-primary">
      
      <q-input  
      v-model="newtask" 
      @keyup.enter="addtask"
      filled
      placeholder="Add Todo"  
      dense 
      bg-color ="white">
        
        <template v-slot:append>
          <q-btn 
            round
            dense
            @click="addtask"
            flat
            icon="add" />
        </template>
      </q-input>

    </div>
   <q-list class="bg-white"
        separator
        bordered>
      

      <q-item 
        v-for="(task, index) in tasks"
        :key="task.title"
        @click="task.done =!task.done"
        :class="{'done': task.done}"
        clickable
        v-ripple>
        <q-item-section avatar>
          <q-checkbox 
          v-model="task.done"
          class="no-pointer-event"
          color="primary" />
        </q-item-section>
        <q-item-section>
          <q-item-label>{{task.title}}</q-item-label>
        </q-item-section>
        <q-item-section
        v-if="task.done"
        side>
        
        <q-btn @click.stop="deletetask(index)" 
        flat
         round dense color="primary" icon="delete" />
        </q-item-section>
      </q-item>

      
    </q-list>
    
    <!-- <div class="no-task absolute center">
     <div class="text-h4 text-primary text-centre">
       No Tasks
      </div>
    </div> -->
    </q-page>
</template>

<script>
export default {
  data() {
      return {
        newtask:'',
          tasks: [
          // {
          //   title:'Breakfast',
          //   done: false
          // },
          // {
          //   title:'lunch',
          //   done: true
          // },
          // {
          //   title:'Dinner',
          //   done: true
          // },
        ]
      }
    },
    methods: {
      deletetask(index) {
      this.$q.dialog({
        title: 'Confirm',
        message: 'would you like to delete',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.tasks.splice(index,1)
        this.$q.notify('Task deleted')
      })
      },
      addtask() {
        this.tasks.push({
          title:this.newtask,
          done:false
        })
        this.newtask=''
        
      }
    }
}
  

</script>

<style lang = "scss">
  .done{
    .q-item__label  {
      text-decoration :line-through;
      color: #bbb;
    } 

  }

</style>